yarn-error.log*

pids
*.pid
*.seed
*.pid.lock

lib-cov

coverge

.nyc_output

.grunt

bower_components

.lock-wscript

build/Release

node_modules/
jspm_packages/

typings/

.npm

.eslintcache

.node_repl_history

.env

.next

# credentials
credentials/*.json

content.json
